<?xml version="1.0" encoding="UTF-8" ?>
<Settings>
	<System>
		<VersionNumber>0.8</VersionNumber>
		<DebugVerbose>3</DebugVerbose>
	</System>
	<Cameras>
		<NumberOfCameras>1</NumberOfCameras>
		<CameraSettings id="1">
			<FOV>68.5</FOV>
			<Width>1280.0</Width>
			<Height>720.0</Height>
			<Port>3333</Port>
		</CameraSettings>
		<CameraSettings id="2">
			<FOV>68.5</FOV>
			<Width>1280.0</Width>
			<Height>720.0</Height>
			<Port>3334</Port>
		</CameraSettings>
	</Cameras>
	<Calibration>
		<Landmark id="1">0,0,0</Landmark>
		<Landmark id="2">0,5.6,0</Landmark>
		<Landmark id="3">5.6,5.6,0</Landmark>
		<Landmark id="4">5.6,0,0</Landmark>
	</Calibration>
	<GUI>
		<ShowSplash>false</ShowSplash>
		<SplashTTL>3000</SplashTTL>
		<CommandWaitTime>3000</CommandWaitTime>
	</GUI>
	<DebugRecording>
		<LiveData>false</LiveData>
		<RecordingInputFilename>debugOutput/output</RecordingInputFilename>
		<TimeDelay>false</TimeDelay>
	</DebugRecording>
</Settings>
